<div class="card shadow-sm h-100" style="min-width: 8rem">
    <div class="row">
        <div class="col-lg-5">
            <img [src]="book.image" class="card-img-top" alt="capa de livro">
        </div>
        <div class="col-lg-7">
            <div class="card-body">
                <p class="card-text">{{ book.name }}</p>
                <p class="card-text text-muted">{{ book.author }}</p>
                <p class="card-text">{{ book.price | currency:'BRL'}}</p>
            </div>
        </div>
    </div>
    <div class="p-3 d-lg-flex justify-content-center">
        <button class="btn btn-sm btn-primary me-3 mb-3">Comprar</button>
        <button class="btn btn-sm btn-outline-secondary me-3 mb-3">Detalhes</button>
    </div>
</div>