<nav class="navbar navbar-expand-lg navbar-light">
    <div class=" container-fluid">
        <a class="navbar-brand" href="#">
            <app-header></app-header>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 me-3 d-lg-flex justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Suporte</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-outline-primary btn-sm" type="submit">Pesquisar</button>
                    </form>
                </li>
            </ul>
            <button class="nav-link active btn btn-primary btn-sm" aria-current="page" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg> Entrar
            </button>
        </div>
    </div>
</nav>