<div class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="desde">Desde</label>
                <input type="number" class="form-control" id="desde">
            </div>
            <div class="form-group">
                <label for="ate">Até</label>
                <input type="number" class="form-control" id="ate">
            </div>
            <button class="btn btn-secondary mt-3">Filtrar</button>
        </form>
    </div>
</div>